.sidebar-collapse .navbar .navbar-toggler-bar.bar2 {
    width: 22px;
  }
  
  .navbar {
    font-size: 18px;
    letter-spacing: 1px;
  }

.nav-link:hover {
    cursor: pointer;
}

.navbar-brand {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-brand:hover {
  background-color: rgba(255,255,255,.2);
  border-radius: .1875rem;
  cursor: pointer;
}