<div class="modal fade" [id]="id" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
  
        <div class="modal-body text-center px-3 py-2">
          <div class="options-container">
            <div *ngFor="let option of options" 
                 class="option py-2" 
                 (click)="changeSystemLanguage(option)">
              {{ option | translate: 'SYSTEM_LANGUAGE':language }}
            </div>
          </div>
        </div>
  
        <div class="modal-footer justify-content-center border-0 pt-0">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" #closeModalBtn>
            Close
          </button>
        </div>
  
      </div>
    </div>
  </div>