<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div *ngFor="let option of options">
                    <div class="dropdown-divider"></div>
                    <div class="option" (click)="changeSystemLanguage(option.value)">{{ option.name }}</div>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </div>
</div>