.modal-body .option {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
}

.modal-body .option:hover {
    color: #049dff;
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.modal-footer {
    display: none;
}

/* Container keeps lines inset from modal edges */
.options-container {
    border-top: 1px solid rgba(0, 0, 0, 0.15); /* Top border */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); /* Bottom border */
  }
  
  /* Border between items */
  .option {
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }
  
  .option + .option {
    border-top: 1px solid rgba(0, 0, 0, 0.15); /* Separator between options */
  }
  
  .option:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }