.ms-certification-header {
    text-align: center;
    color: #FFFFFF;
    align-content: center;
    padding: 25px 0px 15px 15px;
  }
  
  .ms-certification-header > .provider {
    font-size: 1.57em;
    line-height: 1.4em;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .ms-certification, .ms-certification-header, .ms-certification-body {
    min-height: 120px !important;
  }
  
  @media (min-width: 576px) {
    .ms-certification, .ms-certification-header, .ms-certification-body {
      max-height: 120px;
    }
  }
  
  @media (max-width: 575.98px) {
    .ms-certification-body > p {
      margin-left: 1.25rem;
    }
  
    .ms-certification-header > p {
      margin-left: -1.25rem;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .ms-certification-header > .provider {
      font-size: 1.2em;
      
    }
    .ms-certification-header>.date {
      font-size: 1em;
    }
  }
  