.ms-skill:hover > .ms-level {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  
  .ms-skill:hover {
    background-color: #F4F4F4;
  }  
  
  .ms-skill > .ms-level {
    float: right;
    margin-right: 0px;
    text-align: right;
  }
  
  .ms-skill > .ms-level {
    color: #2CA8FF;
  }

  .ms-skill {
    margin-bottom: 10px;
    height: 30px;
    align-content: center;
}

.ms-skill > p {
  margin-bottom: 0px;
}