<div class="h4 text-center mb-4 title">My Skills</div>
<div class="row justify-content-between ms-skills">
    <div class="card col-lg-9 col-md-12 ms-hard-skills">
        <div class="card-body">
            <div class="h5 mt-0 title">Hard Skills</div>
            <div class="row" data-aos="fade-right" data-aos-duration="700">
                <div class="col-md-6">
                    <div class="row ms-skill">
                        <p class="col-7">Programming logic</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">OOP</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Data Warehouse</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">OLAP</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">SQL Server</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">PostgreSQL</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">My SQL</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">MongoDB</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Neo4j</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Scrum / Kanban</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Jira / Confluence</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">DDD</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">TDD</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">API Design</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Design Patterns</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Swagger</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Postman</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">SoapUI</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row ms-skill">
                        <p class="col-7">Java</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Spring Boot</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Hibernate</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">C#</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Entity Framework</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">JUnit</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">AngularJS / Angular</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Javascript / Typescript</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Kendo UI</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">JSON</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">XML</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">HTML / CSS / SCSS</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">REST</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Git</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Maven</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">Jenkins</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">AWS</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                    <div class="row ms-skill">
                        <p class="col-7">TFS</p>
                        <div class="col-5 ms-level">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-3 col-md-12 ms-soft-skills" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
            <div class="h5 mt-0 title">Soft Skills</div>
            <div data-aos="fade-up" data-aos-duration="700">
                <ms-soft-skills [skills]="skills.softSkills"></ms-soft-skills>
            </div>
        </div>
    </div>
</div>