<header>
  <ms-header-menu [items]="menuItems"></ms-header-menu>
</header>
<div class="page-content">
  <ms-header-body [info]="headerInfo"></ms-header-body>
  <div class="section pb-0" id="about">
    <ms-about-me [info]="aboutMeInfo"></ms-about-me>
  </div>
  <div class="section pb-0" id="experience">
    <div class="container">
      <ms-work-experience [experiences]="workExperiences"></ms-work-experience>
    </div>
  </div>
  <div class="section pb-0" id="education">
    <div class="container">
      <ms-education [items]="education"></ms-education>      
    </div>
  </div>

  <div class="section pb-0" id="mySkills">
    <div class="container">
      <ms-skills [skills]="skills" [language]="language" [language]="systemLanguage"></ms-skills>
    </div>
  </div>
  <div class="section pb-0" id="certifications">
    <div class="container">
      <ms-certifications [items]="certifications"></ms-certifications>
    </div>
  </div>
  <ms-back-to-top-button></ms-back-to-top-button>
</div>
<ms-footer></ms-footer>