<header>
  <ms-header-menu [items]="menuItems"></ms-header-menu>
</header>
<div class="page-content">
  <ms-header-body [info]="headerInfo"></ms-header-body>
  <div class="section pb-0" id="about">
    <ms-about-me [info]="aboutMeInfo"></ms-about-me>
  </div>
  <div class="section pb-0" id="experience">
    <div class="container">
      <ms-work-experience [experiences]="workExperiences"></ms-work-experience>
    </div>
  </div>
  <div class="section pb-0" id="education">
    <div class="container">
      <ms-education [items]="education"></ms-education>      
    </div>
  </div>

  <div class="section pb-0" id="mySkills">
    <div class="container">
      <ms-skills [skills]="skills"></ms-skills>
    </div>
  </div>
  <div class="section pb-0" id="certifications">
    <div class="container">
      <ms-certifications [items]="certifications"></ms-certifications>
    </div>
  </div>
  <ms-back-to-top-button></ms-back-to-top-button>
</div>
<footer class="footer">
  <div class="text-center">
    <a class="btn btn-icon btn-round btn-linkedin has-tooltip" data-placement="top" title="Profile on LinkedIn"
      href="https://www.linkedin.com/in/mcbsilva/?locale=en_US" target="_blank" rel="external">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </div>

  <div class="h4 title text-center mt-0">Manoela Silva</div>
  <div class="text-center text-muted">
    <p>&copy; {{currentYear}}</p>
  </div>
</footer>