.ms-btn-period, 
.ms-btn-period:hover, 
.ms-btn-period:focus, 
.ms-btn-period:active {
    background: #2ca8ff !important;
    opacity: 0.7;
    box-shadow: none;
    cursor: default !important;
    font-weight: bold;
    margin-left: -5px;
    height: 30px;
    line-height: 10px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }