@media (min-width: 576px) and (max-width: 991.98px) {
    .ms-skill-group:nth-child(even) {
      color: #2CA8FF;
    }
  }

  .ms-skill-group:first-of-type {
    margin-top: 30px;
  }
  
  @media (max-width: 575.98px) {
    .ms-skill:nth-child(even) {
      color: #2CA8FF;
    }
  }
  
  @media (min-width: 992px) {
    .ms-skill:nth-child(even) {
      color: #2CA8FF;
    }
  }
  
  .ms-skill {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .ms-skill > p {
    margin-bottom: 25px;
  }
  
  .ms-skill:hover {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
  }