<div class="timeline-card-title">
    <div class="position">
        <span class="h5">{{ info.positions | positions: language }}</span>
    </div>
    <div class="company">
        <a href="{{companyWebsite}}" target="_blank">{{ info.company }}</a>
    </div>
    <div class="period">
        <ms-btn-period [period]="info.period"></ms-btn-period>
    </div>
</div>
<div class="timeline-card-body">
    <p>{{ description }}</p>

    <ul class="list-unstyled ms-main-projects">
        <li *ngFor="let activity of activities">
            <i class="fa ms-bullet" [ngClass]="activity.iconClass" aria-hidden="true"></i>
            {{ activity.description }}
        </li>
    </ul>
</div>

<div class="timeline-footer">
    <span class="text-info">{{ technologies }}
        <a *ngIf="showMoreTechnologiesIcon" class="scroll-behavior-smooth" href="#mySkills">
            <i class="fa fa-plus-circle"></i>
        </a>
    </span>
</div>