/* You can add global styles to this file, and also import other style files */

/* General Colors */
.sidebar-collapse .navbar-collapse:before {
    background: linear-gradient(#2ca8ff 0%, #000 80%);
  }
  
  .page-header[filter-color="blue"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(44, 168, 255, 0.6));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(44, 168, 255, 0.6));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(44, 168, 255, 0.6));
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0.2)), to(rgba(44, 168, 255, 0.6)));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(44, 168, 255, 0.6));
    /* Standard syntax */
  }
  
  .text-info>a {
    color: #2CA8FF;
  }
  
  .text-info>a:hover, .text-info>a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .btn-icon {
    color: #FFFFFF;
  }
  
  .btn-linkedin, .btn-linkedin i {
    background-color: #0077B5;
    color: #FFFFFF;
  }
  
  .btn-linkedin, .btn-linkedin:hover {
    text-decoration: none;
    outline: none;
  }
  
  .btn-linkedin:hover,
  .btn-linkedin:focus,
  .btn-linkedin:active,
  .btn-linkedin i:hover,
  .btn-linkedin:hover i,
  .btn-linkedin:focus i,
  .btn-linkedin:active i {
    background-color: #008bd4 !important;
  }

  .btn-info:not(:disabled):not(.disabled):active,
  .btn-info:not(:disabled):not(.disabled):active:focus {
    background-color: #4bb5ff;
    color: #FFF;
    box-shadow: none;
    border-color: #4bb5ff;
  }
  
  /* Icons */
  
  .btn-icon:hover {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
  }
  
  /* timeline */
  
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline>li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
  }
  
  .timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
  }
  
  .timeline>li:after {
    clear: both;
  }
  
  .timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
  }
  
  .timeline>li:after {
    clear: both;
  }
  
  .timeline>li>.timeline-card {
    width: 95%;
    float: left;
    border: 1px solid #d4d4d4;
    /*border-radius: 2px;*/
    /*padding: 20px;*/
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline>li>.timeline-card:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline>li>.timeline-card:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline>li>.timeline-badge {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    /*background-color: #999999;*/
    z-index: 100;
    /*
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      */
  }
  
  .timeline>li.timeline-inverted>.timeline-card {
    float: right;
  }
  
  .timeline>li.timeline-inverted>.timeline-card:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline>li.timeline-inverted>.timeline-card:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge>a {
    color: #2CA8FF !important;
  }
  
  .timeline-badge>a>i:hover {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  
  .timeline-card-body>p, .timeline-card-body>span, .timeline-card-body>ul, .timeline-card-title {
    padding: 20px;
    margin-bottom: 0;
  }
  
  .timeline-card-body>div {
    padding: 5px 20px;
  }
  
  .timeline-card-body {
    text-align: justify!important;
  }
  
  .timeline-card-title .position>span, .timeline-card-title .position>p, .timeline-card-title .title>span, .timeline-card-title .title>p, .timeline-card-title .major>span, .timeline-card-title .major>p {
    font-weight: 600;
  }
  
  .timeline-footer {
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    cursor: default;
    color: #2CA8FF !important;
  }
  
  .timeline-footer span, .timeline-footer a {
    font-size: 12px;
    font-weight: 600;
    color: #2CA8FF;
  }
  
  .timeline-footer i:hover {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  
  .timeline-footer i {
    margin-left: 5px;
    color: #2CA8FF;
  }
  
  .timeline>li.timeline-inverted {
    float: right;
    clear: right;
  }
  
  @media (min-width: 768px) {
    #experience .timeline>li:nth-child(2) {
      margin-top: 250px;
    }
    #education .timeline>li:nth-child(2) {
      margin-top: 230px;
    }
    .timeline>li:nth-child(3) {
      margin-top: 30px;
    }
    .timeline>li:nth-child(4) {
      margin-top: 130px;
    }
  }
  
  .timeline>li.timeline-inverted>.timeline-badge {
    left: -12px;
  }
  
  @media (max-width: 767px) {
    ul.timeline:before {
      left: 12px;
    }
    ul.timeline>li {
      margin-bottom: 20px;
      position: relative;
      width: 100%;
      float: left;
      clear: left;
    }
    ul.timeline>li>.timeline-card {
      width: calc(100% - 40px);
      width: -moz-calc(100% - 40px);
      width: -webkit-calc(100% - 40px);
    }
    ul.timeline>li>.timeline-badge {
      left: 0px;
      margin-left: 0;
      top: 16px;
    }
    ul.timeline>li>.timeline-card {
      float: right;
    }
    ul.timeline>li>.timeline-card:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    ul.timeline>li>.timeline-card:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
    .timeline>li.timeline-inverted {
      float: left;
      clear: left;
    }
    .timeline>li.timeline-inverted>.timeline-badge {
      left: 0px;
    }
  }
  
  .ms-bullet {
    font: normal normal bold 16px/1 FontAwesome;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .timeline-card-body>.ms-main-projects {
    padding-top: 0px;
    padding-left: 30px;
  }
  
  @media (max-width: 991.98px) {
    #about, #mySkills .title {
      text-align: center;
    }
  }

  .ms-skills {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .ms-skill {
    margin-bottom: 10px;
    height: 30px;
    align-content: center;
  }

  .ms-skill > p {
    margin-bottom: 0px;
  }

  .ms-skill:hover {
    cursor: pointer;
  }

  ngb-tooltip-window {
    color: black;
  }